<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- J'ai inclus Bootstrap pour le style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='esthetique.css') }}">
    <title>Inscription</title>
</head>
<body>
    <!-- J'ai utilisé la classe nav-bar de Bootstrap pour faire une barre de navigation -->
    <nav class="navbar navbar-expand-lg custom-color-navbar fixed-top">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/the vision.png') }}" alt="MonLogo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- J'ai supprimé le menu déroulant 'produit' -->
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{{ url_for('panier') }}">Panier</a>
                </li>
                {% if 'username' in session %}
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{{ url_for('account') }}">Compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{{ url_for('logout') }}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{{ url_for('login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{{ url_for('register') }}">Inscription</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2>Inscription</h2>
        <form action="{{ url_for('register') }}" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="client_nom">Nom du client</label>
                <input type="text" class="form-control" id="client_nom" name="client_nom" required>
            </div>
            <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" class="form-control" id="adresse" name="adresse" required>
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </form>
        
    </div>

    <!-- J'ai inclus les scripts nécessaires pour Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
